
@{
    ViewBag.Title = "LBPF8";
}
<script>
    $("#PreparationLBPF8ViewID").addClass("active");
</script>

@*Header*@
<div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
        <h3 class="content-header-title"><strong>LBPF 8 - Statement of Funding Sources (Supplemental Budget)</strong></h3>
    </div>
</div>

@*BODY*@
<div class="content-body">
    <div class="row">
        <div class="content-header-left col-md-12">

            <div class="card box-shadow-2">
                <div class="card-content collapse show">
                    <div class="card-body rounded" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="card-body px-1 card-body rounded menubackground">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Budget Year</label>
                                        <select class="form-control">
                                            <option>2018</option>
                                            <option>2019</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Appropriation Source</label>
                                        <select class="form-control">
                                            <option>Supplemental Budget 2018</option>
                                            <option>Realignment/Reversion</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Fund</label>
                                        <select class="form-control">
                                            <option>General Fund</option>
                                            <option>Special Account</option>
                                            <option>Local Development Fund</option>
                                            <option>Special Education FUnd</option>
                                            <option>Trust Fund</option>
                                            <option>Calamity Fund</option>
                                            <option>20% Development Fund</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" rows="1"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*New Revenue Sources*@
                        <div class="card-header bg-active mt-1 rounded">
                            <h4 class="card-title black">New Revenue Sources</h4>
                        </div>
                        <div class="card-body pt-1 rounded box-shadow-3">
                            <div class="container">
                                <div class="row">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active bg-backcolorheader" id="base-tab1" data-toggle="tab" aria-controls="tabTaxRev" href="#tabTaxRev" aria-expanded="true">Tax Revenue</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bg-backcolorheader" id="base-tabMOOS" data-toggle="tab" aria-controls="tabLoanBarrow" href="#tabLoanBarrow" aria-expanded="true">Loan Borrowing</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content w-100" id="nav-tabContent">
                                        <div class="tab-content px-1 pt-1 card-body rounded box-shadow-4">
                                            <div class="tab-pane active" id="tabTaxRev">
                                                <div class="card-body px-1 card-body rounded menubackground">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>General Account</label>
                                                                <select class="form-control">
                                                                    <option></option>
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Account Code</label>
                                                                <input type="text" name="name" value="" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Account Suffix</label>
                                                                <input type="text" name="name" value="" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Supplemental Amount</label>
                                                                <input type="text" name="name" value="" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr style="border:solid 1px; border-color:#003300; " />
                                                    <label class="font-medium-2" style="color:#003300"><b>Details</b></label>
                                                    <div class="row">
                                                        <div class="col-3 ml-3">
                                                            <label class="font-medium-1 ml-5" style="color:#003300"><b>Type</b></label>
                                                            <div class="form-group">
                                                                <select class="form-control custom-form-margin">
                                                                    <option>Variable 1</option>
                                                                    <option>Variable 2</option>
                                                                </select>
                                                                <select class="form-control">
                                                                    <option>Variable 1</option>
                                                                    <option>Variable 2</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-5">
                                                            <label class="font-medium-1 ml-5 pl-5" style="color:#003300"><b>Description</b></label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control custom-form-margin" name="name" value="" />
                                                                <input type="text" class="form-control" name="name" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <label class="font-medium-1 ml-5" style="color:#003300"><b>Amount</b></label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control custom-form-margin" name="name" value="" />
                                                                <input type="text" class="form-control" name="name" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-6 ml-3">
                                                            <label class="custom-form-margin"><b>Remarks</b></label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control custom-form-margin" name="name" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <button type="button" class="float-right btn btn-min-width ml-1 btn-menuRed" onclick="GetSupplierForm(1, 0)">Cancel</button>
                                                                <button type="submit" id="btnAddSupplier" class="float-right btn btn-btnbackcolor btn-min-width">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-1">
                                                    <table class="table table-striped zero-configuration table-bordered">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th width="15%">Account Code</th>
                                                                <th>Account Classification</th>
                                                                <th>Amount</th>
                                                                <th width="5%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                var UpdateMandate = "<div class=\"row m-small\"><button class=\"btn btn-icon black btn-menuorange form-control m-small my-0\" style=\"border-color: white \" type=\"button\" > <i class='la la-edit'></i> Edit</button></div>";
                                                                var RemoveMandate = "<div class=\"row m-small\"><button class=\"btn btn-icon btn-menuRed white form-control m-small my-0\" style=\"border-color: white \" type=\"button\" ><i class='la la-trash'></i> Delete</button></div>";

                                                                var ActionMandate = UpdateMandate + RemoveMandate;

                                                                <tr class="text-center">
                                                                    <td>1-03-03-030</td>
                                                                    <td class="text-left">Due from Government Units</td>
                                                                    <td>2,000,000.00</td>
                                                                    <td>
                                                                        <button type="button" onfocusout="PopoveLostFocus()" style="padding:5px;"
                                                                                class="btn btn-m btn-btnbackcolor popover-trigger"
                                                                                data-toggle="popover" data-content="@ActionMandate"
                                                                                data-original-title="" data-html="true" data-placement="left">
                                                                            <i class="la la-bars"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td>1-03-06-030</td>
                                                                    <td class="text-left">Due from Non-Government Organizations/People's Organizations</td>
                                                                    <td>2,000,000.00</td>
                                                                    <td>
                                                                        <button type="button" onfocusout="PopoveLostFocus()" style="padding:5px;"
                                                                                class="btn btn-m btn-btnbackcolor popover-trigger"
                                                                                data-toggle="popover" data-content="@ActionMandate"
                                                                                data-original-title="" data-html="true" data-placement="left">
                                                                            <i class="la la-bars"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td>4-01-05-040</td>
                                                                    <td class="text-left">Tax Revenue - Fines and Penalties - Other Taxes</td>
                                                                    <td>1,200,000.00</td>
                                                                    <td>
                                                                        <button type="button" onfocusout="PopoveLostFocus()" style="padding:5px;"
                                                                                class="btn btn-m btn-btnbackcolor popover-trigger"
                                                                                data-toggle="popover" data-content="@ActionMandate"
                                                                                data-original-title="" data-html="true" data-placement="left">
                                                                            <i class="la la-bars"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tabLoanBarrow">
                                                @*LOAN BORROWINGS*@
                                                <div class="row">
                                                    <div class="col-5">
                                                        <div class="card-body px-1 card-body rounded menubackground">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label class="custom-form-margin">Loan Amount</label>
                                                                        <input type="text" name="name" value="" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <button type="button" class="float-right btn btn-min-width ml-1 btn-menuRed" onclick="GetSupplierForm(1, 0)">Cancel</button>
                                                                        <button type="submit" id="btnAddSupplier" class="float-right btn btn-btnbackcolor btn-min-width">Add</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-7">
                                                        <div class="mt-1">
                                                            <table class="table table-striped zero-configuration table-bordered">
                                                                <thead>
                                                                    <tr class="text-center">
                                                                        <th>Date</th>
                                                                        <th>Loan Amount</th>
                                                                        <th width="5%">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        <tr class="text-center">
                                                                            <td>10/15/2019</td>
                                                                            <td>500,000.00</td>
                                                                            <td>
                                                                                <button type="button" onfocusout="PopoveLostFocus()" style="padding:5px;"
                                                                                        class="btn btn-m btn-btnbackcolor popover-trigger"
                                                                                        data-toggle="popover" data-content="@ActionMandate"
                                                                                        data-original-title="" data-html="true" data-placement="left">
                                                                                    <i class="la la-bars"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="text-center">
                                                                            <td>06/28/2019</td>
                                                                            <td>25,000,000.00</td>
                                                                            <td>
                                                                                <button type="button" onfocusout="PopoveLostFocus()" style="padding:5px;"
                                                                                        class="btn btn-m btn-btnbackcolor popover-trigger"
                                                                                        data-toggle="popover" data-content="@ActionMandate"
                                                                                        data-original-title="" data-html="true" data-placement="left">
                                                                                    <i class="la la-bars"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Savings/Realignment*@
                        <div class="card-header bg-active mt-1 rounded">
                            <h4 class="card-title black">Savings/Realignment</h4>
                        </div>
                        <div class="card-body pt-1  rounded box-shadow-3">
                            <div class="container">
                                <div class="row">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active bg-backcolorheader" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true">Savings (Consolidated)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bg-backcolorheader" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" aria-expanded="true">Office Operational Expenses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bg-backcolorheader" id="base-tab2" data-toggle="tab" aria-controls="tab3" href="#tab2" aria-expanded="true">Programs/Projects/Activities</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content w-100" id="nav-tabContent">
                                        <div class="tab-content px-1 pt-1 card-body rounded box-shadow-4">
                                            <div class="tab-pane active" id="tab1">
                                                <div class="card-body px-1 card-body rounded menubackground">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="custom-form-margin">Source Year</label>
                                                                <select class="form-control">
                                                                    <option>2018</option>
                                                                    <option>2019</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label class="custom-form-margin">Description</label>
                                                                <textarea class="form-control" rows="1"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="custom-form-margin">Amount</label>
                                                                <input type="text" value="0.00" class="text-right form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <button type="submit" id="btnAddSupplier" class="float-right btn btn-btnbackcolor btn-min-width mt-2">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-1">
                                                    <table class="table table-striped zero-configuration table-bordered">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th width="15%">Year</th>
                                                                <th>Description</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-center">2018</td>
                                                                <td>Consolidated Savings for ther Year 2018</td>
                                                                <td width="20%" class="text-right">2,000,000.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center">2017</td>
                                                                <td>Consolidated Savings for ther Year 2017</td>
                                                                <td width="20%" class="text-right">2,000,000.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center">2016</td>
                                                                <td>Consolidated Savings for ther Year 2016</td>
                                                                <td width="20%" class="text-right">1,200,000.00</td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot class="bg-active font-weight-bold">
                                                            <tr>
                                                                <td colspan="2" class="text-right">TOTAL</td>
                                                                <td class="text-right" style="padding-right:5px;">5,200,000.00</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*UnAppropriated Balance*@
                        <div class="card-header bg-active mt-1 rounded">
                            <h4 class="card-title black">Unappropriated Balance</h4>
                        </div>
                        <div class="card-body pt-1 rounded box-shadow-3">
                            <div class="row">
                                <div class="col-5">
                                    <div class="card-body px-1 card-body rounded menubackground">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="custom-form-margin">Description</label>
                                                    <input type="text" name="name" value="" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="custom-form-margin">Amount</label>
                                                    <input type="text" name="name" value="" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <button type="button" class="float-right btn btn-min-width ml-1 btn-menuRed" onclick="GetSupplierForm(1, 0)">Cancel</button>
                                                    <button type="submit" id="btnAddSupplier" class="float-right btn btn-btnbackcolor btn-min-width">Add</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-7">
                                    <div class="mt-1">
                                        <table class="table table-striped zero-configuration table-bordered">
                                            <thead>
                                                <tr class="text-center">
                                                    <th width="15%">Account Code</th>
                                                    <th>Account Classification</th>
                                                    <th>Amount</th>
                                                    <th width="5%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    <tr class="text-center">
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <button type="button" onfocusout="PopoveLostFocus()" style="padding:5px;"
                                                                    class="btn btn-m btn-btnbackcolor popover-trigger"
                                                                    data-toggle="popover" data-content="@ActionMandate"
                                                                    data-original-title="" data-html="true" data-placement="left">
                                                                <i class="la la-bars"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr class="text-center">
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <button type="button" onfocusout="PopoveLostFocus()" style="padding:5px;"
                                                                    class="btn btn-m btn-btnbackcolor popover-trigger"
                                                                    data-toggle="popover" data-content="@ActionMandate"
                                                                    data-original-title="" data-html="true" data-placement="left">
                                                                <i class="la la-bars"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr class="text-center">
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <button type="button" onfocusout="PopoveLostFocus()" style="padding:5px;"
                                                                    class="btn btn-m btn-btnbackcolor popover-trigger"
                                                                    data-toggle="popover" data-content="@ActionMandate"
                                                                    data-original-title="" data-html="true" data-placement="left">
                                                                <i class="la la-bars"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("input[data-type='currency']").on({
        keyup: function () {
            formatCurrency($(this));
        },
        blur: function () {
            formatCurrency($(this), "blur");
        }
    });

    function formatNumber(n) {
        // format number 1000000 to 1,234,567
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }
    function formatCurrency(input, blur) {
        // appends $ to value, validates decimal side
        // and puts cursor back in right position.

        // get input value
        var input_val = input.val();

        // don't validate empty input
        if (input_val === "") { return; }

        // original length
        var original_len = input_val.length;

        // initial caret position
        var caret_pos = input.prop("selectionStart");

        // check for decimal
        if (input_val.indexOf(".") >= 0) {

            // get position of first decimal
            // this prevents multiple decimals from
            // being entered
            var decimal_pos = input_val.indexOf(".");

            // split number by decimal point
            var left_side = input_val.substring(0, decimal_pos);
            var right_side = input_val.substring(decimal_pos);

            // add commas to left side of number
            left_side = formatNumber(left_side);

            // validate right side
            right_side = formatNumber(right_side);

            // On blur make sure 2 numbers after decimal
            if (blur === "blur") {
                right_side += "00";
            }

            // Limit decimal to only 2 digits
            right_side = right_side.substring(0, 2);

            // join number by .
            input_val = left_side + "." + right_side;

        } else {
            // no decimal entered
            // add commas to number
            // remove all non-digits
            input_val = formatNumber(input_val);
            input_val = input_val;

            // final formatting
            if (blur === "blur") {
                input_val += ".00";
            }
        }

        // send updated string to input
        input.val(input_val);

        // put caret back in the right position
        var updated_len = input_val.length;
        caret_pos = updated_len - original_len + caret_pos;
        input[0].setSelectionRange(caret_pos, caret_pos);
    }
</script>

