@model IEnumerable<BOSS.Models.FMmodels.FMAccountsModels.SubMajorAccntGrpList>
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
<div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
        <table class="table table-responsive table-striped table-bordered table-condensed zero-configuration w-100 table-smss-hover">
            <thead class="text-center">
                <tr>
                    <th>Revision Year</th>
                    <th>Allotment Class</th>
                    <th>Accounts</th>
                    <th>Major Account Group</th>
                    <th>Sub Major Account Group</th>
                    <th>Account Code</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Items in Model)
                    {
                        var UpdateSMAG = "<button class='btn btn-icon black btn-menuorange btn-block border-0' id='btnEditSMAGID' SMAGAttr='" + Items.SMAGID + "'><i class='ft-edit'></i> Edit</button>";
                        var RemoveSMAG = "<button class='btn btn-icon btn-menuRed white btn-block border-0' id='btnDeleteSMAGID' SMAGAttr='" + Items.SMAGID + "'><i class='la la-trash'></i> Delete</button>";
                        var ActionSMAG = UpdateSMAG + RemoveSMAG;
                  
                        <tr>
                            <td class="text-center">@Items.RevYear</td>
                            <td>@Items.AllotmentClassTitle</td>
                            <td>@Items.AGTitle</td>
                            <td>@Items.MAGTitle</td>
                            <td>@Items.SMAGTitle</td>
                            <td class="text-center">@Items.SMAGAccountCode</td>
                            <td class="text-center">
                                <button type="button" onfocusout="PopoveLostFocus()"
                                        class="btn btn-m btn-btnbackcolor popover-trigger" data-placement="left"
                                        data-toggle="popover" data-content="@ActionSMAG">
                                    <i class="la la-bars"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        LoadDataTable();
    })
</script>