<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label class="mt-1"><b>Revision Year</b></label>
                <span class="input-group-append">
                    <select class="form-control">
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                    </select>
                    <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" data-target="#ViewAddRevYearAllotModal" onclick="GetAddAddRevYearAllot()"><strong>+</strong></button>
                </span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <label class="mt-1"><b>Allotment Class</b></label>
                <span class="input-group-append">
                    <select class="form-control">
                        <option>Personal Services</option>
                        <option>Capital Outlay</option>
                        <option>Maintenance and Other Operating Expenses</option>
                        <option>Other Operating Expenses</option>
                    </select>
                    <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" data-target="#ViewAddAllomentModal" onclick="GetAddAddAllomentClassAllot()"><strong>+</strong></button>
                </span>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <label class="mt-1"><b>Accounts</b></label>
                <span class="input-group-append">
                    <select class="form-control">
                        <option>Asset</option>
                        <option>Liabilities</option>
                        <option>Equity</option>
                        <option>Income</option>
                        <option>Expenses</option>
                    </select>
                    <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" data-target="#ViewAddAccntModal" onclick="GetAddAddAccntClass()"><strong>+</strong></button>
                </span>
            </div>
        </div>
        <div class="row black">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <label class="mt-1"><b>Major Account Group</b></label>
                <select class="form-control">
                    <option>Cash</option>
                    <option>Financial Liabilities</option>
                    <option>Government Equity</option>
                    <option>Tax Revenue</option>
                    <option>Personnel Services</option>
                </select>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6">
                <label class="mt-1"><b>Sub Major Account Group</b></label>
                <input type="text" class="form-control" name="name" value="" />
            </div>
            <div class="col-xl-4 col-lg-3 col-md-5 mt-1">
                <label><b>Account Code</b></label>
                <div class="input-group mt-0">
                    <span class="input-group-addon" id="basic-addon1"><b>1 - 01 -</b></span>
                    <input type="text" class="form-control" name="name" value="" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="offset-md-1 col-md-10">
        <button type="button" class="btn btn-menuRed btn-min-width mr-1 float-right" onclick="GetRevisionCOADT()">
            Cancel
        </button>
        <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
            Add
        </button>
    </div>
</div>
<div class="row mt-1">
    <div class="offset-md-1 col-md-10">
        <table id="myTable" class="table table-bordered zero-configuration w-100">
            <thead class="text-center">
                <tr>
                    <th>Revision Year</th>
                    <th>Allotment Class</th>
                    <th>Accounts</th>
                    <th>Major Account Group</th>
                    <th>Sub Major Account Group</th>
                    <th>Account Code</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @{
                    var DeleteConfirmationMess = "Are you sure do you want to delete this?";
                    var DeleteSuccesMess = "Successfully Deleted";
                    var successUpdate = "Successfully Updated!";

                    var Update = "<div class=\"row m-small\"><button class=\"btn btn-icon black btn-menuorange form-control m-small my-0\" style=\"border-color: white \" type=\"button\" onclick=\"swalSuccess('" + successUpdate + "')\"> <i class='la la-edit'></i> Edit</button></div>";
                    var Remove = "<div class=\"row m-small\"><button class=\"btn btn-icon btn-menuRed white form-control m-small my-0\" style=\"border-color: white \" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '', '" + @DeleteSuccesMess + "')\"><i class='la la-trash'></i> Delete</button></div>";

                    var ActionAS = Update + Remove;
                }
                <tr>
                    <td>2015</td>
                    <td>Capital Outlay</td>
                    <td>Asset</td>
                    <td>Property, Plant and Equipment</td>
                    <td>Land</td>
                    <td>1-07-01</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>N / A</td>
                    <td>Liabilities</td>
                    <td>Financial Liabilities</td>
                    <td>Payables</td>
                    <td>2-01-01</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>N / A</td>
                    <td>Equity</td>
                    <td>Government Equity</td>
                    <td>Government Equity</td>
                    <td>3-01-01</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>N / A</td>
                    <td>Income</td>
                    <td>Tax Revenue</td>
                    <td>Tax Revenue - Individual and Corporation</td>
                    <td>4-01-01</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>Personal Service</td>
                    <td>Expenses</td>
                    <td>Personnel Services</td>
                    <td>Salaries and Wages</td>
                    <td>5-01-01</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@*Get Revition Year Modal*@
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="form-group">
        <div class="modal fade text-left" id="ViewAddRevYearAllotModal" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header
                             bg-active">
                        <h4 class="modal-title"><strong>Add Revision Year</strong></h4>
                    </div>
                    <div class="modal-body skin skin-square">
                        <div class="card-body p-0">
                            <div id="ViewAddRevYearAllotID"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Get Alloment Class Modal*@
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="form-group">
        <div class="modal fade text-left" id="ViewAddAllomentModal" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header
                             bg-active">
                        <h4 class="modal-title"><strong>Add Allotment Class</strong></h4>
                    </div>
                    <div class="modal-body skin skin-square">
                        <div class="card-body p-0">
                            <div id="ViewAddAllomentID"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Get Account Group Modal*@
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="form-group">
        <div class="modal fade text-left" id="ViewAddAccntModal" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header
                             bg-active">
                        <h4 class="modal-title"><strong>Add Account Group</strong></h4>
                    </div>
                    <div class="modal-body skin skin-square">
                        <div class="card-body p-0">
                            <div id="ViewAddAccntID"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        LoadDataTable();
    })
    //REVISION YEAR
    function GetAddAddRevYearAllot() {
        $.ajax({
            url: "/FileMaintenanceAccounts/GetAddAddRevYearAllot",
            success: function (result) {
                $("#ViewAddRevYearAllotID").html(result);
                $('#ViewAddRevYearAllotModal').modal('toggle');
            }
        });
    }
    //Allotment Class
    function GetAddAddAllomentClassAllot() {
        $.ajax({
            url: "/FileMaintenanceAccounts/GetAddAddAllomentClassAllot",
            success: function (result) {
                $("#ViewAddAllomentID").html(result);
                $('#ViewAddAllomentModal').modal('toggle');
            }
        });
    }
    //Account Group
    function GetAddAddAccntClass() {
        $.ajax({
            url: "/FileMaintenanceAccounts/GetAddAddAccntClass",
            success: function (result) {
                $("#ViewAddAccntID").html(result);
                $('#ViewAddAccntIDModal').modal('toggle');
            }
        });
    }
</script>