@model BOSS.Models.FMmodels.FMPayeeModels.PayeeModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
@using (Ajax.BeginForm("SavePayee", "FileMaintenancePayee", new AjaxOptions { OnSuccess = "ifExists(data, GetPayeeForm(1, 0) )", OnFailure = " swalError('Error saving', 'An error occured while saving data.')", HttpMethod = "post" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.PayeeList.PayeeID, new { @id = "PayeeID" })
    @Html.HiddenFor(m => m.ActionID, new { @class = "ActionID" })
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="form-group">
                <label class="custom-form-margin">Name</label>
                @Html.TextBoxFor(m => m.PayeeList.Name, new { @class = "form-control", id = "Name" })
                @Html.ValidationMessageFor(m => m.PayeeList.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="form-group">
                <label class="custom-form-margin">Address</label>
                @Html.TextAreaFor(m => m.PayeeList.Address, new { @class = "form-control", @rows = 1, id = "Address" })
                @Html.ValidationMessageFor(m => m.PayeeList.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="form-group">
                <label class="custom-form-margin">Department</label>
                @Html.DropDownListFor(m => m.DeptID, Model.DeptSelectionListPayee, new { @class = "form-control select2", id = "DeptID" })
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <button type="button" class="float-right btn btn-min-width ml-1 btn-menuRed" onclick="GetPayeeForm(1, 0)">Cancel</button>
                <button type="submit" id="btnAddPayee" class="float-right btn btn-btnbackcolor btn-min-width">Add</button>
            </div>
        </div>
    </div>
}
    <script>
        $(function () {
            LoadICheck();
        })
    </script>