@model BOSS.Models.FMAppropriationSourceModels.FMAppropriationSourceModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;


@using (Ajax.BeginForm("AddNewAppropSoure", "FileMaintenanceAppropriation", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetAppropriationSourceDT','Appropriation Added!')", OnFailure = "OnFailure()", }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="row mt-1">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mx-0">
        <div class="form-group">
            <label class="custom-form-margin ">Appropriation Source Type</label>
            @Html.DropDownListFor(m => m.AppropriationSourceID, Model.AppropriationSourceTypeList, new { @class = "form-control select2nosearch", id = "AppropriationSourceTypeID", onchange = "GetDynamicFund()" })
      
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mx-0" id="FundSourceID">

    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mx-0">
        <div class="form-group">
            <label class="custom-form-margin">Appropriation Source</label>
            @Html.TextBoxFor(m => m.getAppropriationSourceColumns.Description, new { @class = "form-control", type = "text", id = "desc" })
            @Html.ValidationMessageFor(m => m.getAppropriationSourceColumns.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mx-0">
        <div class="form-group">
            <label class="custom-form-margin">Budget Year</label>
            @Html.DropDownListFor(m => m.BudgetYearID, Model.BudgetYearList, new { @class = "form-control select2nosearch", id = "budgetyrID" })
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col form-group">
        <button type="button" class="btn btn-menuRed btn-min-width ml-1 pull-right" onclick="AngularGlobalFunctions('ApproSourceController','GetAppropriationSourceDT','')">
            Cancel
        </button>
        <button type="submit" class="btn btn-btnbackcolor btn-min-width pull-right">
            Add
        </button>
    </div>
</div>
}

<script>
    $(function () {
        GetDynamicFund();
        LoadICheck();
        select2nosearch();
    })
    //function LoadGetDynamicFund() {
    //    AngularGlobalFunctions('ApproSourceController', 'GetDynamicFund', '')
    //}
</script>
