@model BOSS.Models.FMmodels.FMAppropriarionSouceModels.AppropSourceModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
@using (Ajax.BeginForm("UpdateAppropSource", "FileMaintenanceAppropriation", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetAppropriationSourceDT','Appropriation Updated!')", OnFailure = "OnFailure()", }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.FundSourceIDHidden, new { id = "FundSourceIDHidden" })
    @Html.HiddenFor(m => m.AppropriationID, new { })
  
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mx-0">
                <div class="form-group">
                    <label class="custom-form-margin">Appropriation Source Type</label>
                    @Html.DropDownListFor(m => m.AppropSourceTypeID, Model.AppropriationSourceTypeList, new { @class = "form-control select2nosearch", id = "AppropSourceTypeID2", onchange = "LoadGetDynamicFund3()" })

                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mx-0" id="FundSourcetempID">

            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mx-0">
                <div class="form-group">
                    <label class="custom-form-margin">Appropriation Source</label>
                    @Html.TextBoxFor(m => m.getAppropriationSourceColumns.Description, new { @class = "form-control", type = "text", id = "Description" })
                    @Html.ValidationMessageFor(m => m.getAppropriationSourceColumns.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mx-0">
                <div class="form-group">
                    <label class="custom-form-margin">Budget Year</label>
                    @Html.DropDownListFor(m => m.BudgetYearID, Model.BudgetYearList, new { @class = "form-control select2nosearch", id = "BudgetYearID" })
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button type="button" class="btn btn-menuRed btn-min-width ml-1 pull-right" onclick="GetAppropriationSourceDT()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-btnbackcolor btn-min-width pull-right">
                        Update
                    </button>
                </div>
            </div>
        </div>
}

<script>
    $(function () {
        LoadGetDynamicFund2();
        LoadICheck();
        select2nosearch();
    })
    function LoadGetDynamicFund2() {
        var AppropSourceTypeID = $("#AppropSourceTypeID2").val();
        var FundSourceIDHidden = $("#FundSourceIDHidden").val();
        GetDynamicFund2(AppropSourceTypeID, FundSourceIDHidden);
    }
    function LoadGetDynamicFund3() {
        GetDynamicFund3();
    }
</script>
