@model BOSS.Models.FMmodels.FMBarangayModels.BrgyBankAccountModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("SaveBrgyBankAccnt", "FileMaintenanceBarangay", new AjaxOptions { OnSuccess = "ifExists(data, GetBrgyBankAccntForm(1, 0) )", OnFailure = " swalError('Error saving', 'An error occured while saving data.')", HttpMethod = "post" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.BrgyBankAccountList.BrgyBankAccntID, new { @id = "BrgyBankAccntID" })
    @Html.HiddenFor(m => m.ActionID, new { @class = "ActionID" })

<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin">Barangay</label>
            @Html.DropDownListFor(m => m.BrgyID, Model.BrgyList, new { @class = "form-control select2", id = "BrgyID" })
        </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin">Bank Name</label>
            @Html.DropDownListFor(m => m.BankID, Model.BankList, new { @class = "form-control select2", id = "BankID", onchange = "onChangeAccntNo()" })
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin">Account Number</label>
            @Html.DropDownListFor(m => m.BankAccntID, Model.BankAccntNoList, new { @class = "form-control select2nosearch", id = "BankAccntID" })
        </div>
    </div>
    <div class="col mt-xl-0 mt-lg-0 mt-md-2">
        <div class="form-group">
            <button type="button" class="float-right btn btn-min-width ml-1 btn-menuRed" onclick="GetBrgyBankAccntForm(1, 0)">Cancel</button>
            <button type="submit" id="btnAddBrgyBnkAccnt" class="float-right btn btn-btnbackcolor btn-min-width">Add</button>
        </div>
    </div>
</div>

}
<script>
    $(function () {
        LoadICheck();
        select2nosearch();
    })
</script>