@model BOSS.Models.FMmodels.FMAccountsModels.FMMainChartofAccountModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("AddNewSubMajorAccntGrp", "FileMaintenanceAccounts", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetSubMajorAccntGrpDT','Successfully Added!')", OnFailure = "", }))
{
<div class="row" novalidate>
    <div class="col-xl-2 col-lg-3 col-md-3" id="RevYearGAID">

    </div>
    <div class="col-xl-3 col-lg-5 col-md-5" id="AllotmentGAID">

    </div>
    <div class="col-xl-3 col-lg-4 col-md-4" id="AccountGroupGAID">

    </div>
    <div class="col-xl-4 col-lg-6 col-md-6" id="MajorAccountGAID">

    </div>
    <div class="col-xl-4 col-lg-6 col-md-6" id="SubMajorAccountGAID">

    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin" id="GenLedgerID">General Ledger Account</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.GeneralAccntModel.getGenAcctColumns.GATitle, new { @class = "form-control", type = "text", id = "GATitle" })
            </div>
        </div>
    </div>
    <div class="col-xl-1 col-lg-2 col-md-2 px-0 mx-xl-2 text-center">
        <div class="form-group">
            <label class="custom-form-margin">Miscellaneous Account?</label>
            <fieldset>
                <input type="checkbox" id="isMisID" class="form-control icheckbox_square-red checkbox" />
            </fieldset>
        </div>
    </div>
    @Html.HiddenFor(m => m.GeneralAccntModel.isSelected, new { id = "isSelected" })
    <div class="col-xl-1 col-lg-2 col-md-2 px-0 mx-xl-1 text-center">
        <div class="form-group">
            <label class="custom-form-margin">Contra Account?</label>
            <fieldset>
                <input type="checkbox" id="isContraID" class="form-control icheckbox_square-red checkbox" />
            </fieldset>
        </div>
    </div>
    <div class="col-xl-1 col-lg-2 col-md-2 px-0 text-center">
        <div class="form-group">
            <label class="custom-form-margin mt-xl-0 mt-lg-1 mt-md-1">Sub Account?</label>
            <fieldset class=" skin skin-square">
                <input type="checkbox" id="isSubID" class="form-control icheckbox_square-green checkbox" />
            </fieldset>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="form-group" id="generalLedgerAccntID">
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3">
        <div class="form-group m-0 p-0">
            <label class="custom-form-margin">Account Code</label>
        </div>
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 px-0 mx-0" id="accountGrpCodeGAID">

            </div>
            <div class="col-xl-1 col-lg-1 col-md-1">
                <label class="mb-2 px-0 mx-0" style="margin-top:7px;">-</label>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 px-0 mx-0" id="majorAccountGrpCodeGAID">

            </div>
            <div class="col-xl-1 col-lg-1 col-md-1" style="padding-left:6px;">
                <label class="mb-2 px-0 mx-0" style="margin-top:7px;">-</label>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 px-0 mx-0" id="subMajorAccountGrpCodeGAID">

            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 " style="padding-left:6px;">
                <label class="mb-2 px-0 mx-0" style="margin-top:7px;">-</label>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 px-0">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.GeneralAccntModel.getGenAcctColumns.GACode, new { @class = "form-control mx-0", Style = "padding-left:5px; padding-right:5px;", type = "text", id = "GACode" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3">
        @Html.TextBoxFor(m => m.GeneralAccntModel.isReserve, new { id = "isReserveID", @class = "hidden" })
        <div class="form-group">
            <label class="custom-form-margin">With Reserve?</label>
            <select class="form-control select2nosearch" id="isReserveIDD" onchange="isReserveOnChange()">
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3">
        <div class="form-group">
            <label class="custom-form-margin">Reserve %?</label>
            @Html.TextBoxFor(m => m.GeneralAccntModel.getGenAcctColumns.ReservePercent, new { @class = "form-control", type = "text", id = "ReservePercent" })
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3">
        @Html.TextBoxFor(m => m.GeneralAccntModel.isFullRelease, new { id = "isFullReleaseID", @class = "hidden" })
        <div class="form-group">
            <label class="custom-form-margin">Full Release?</label>
            <select class="form-control select2nosearch" id="isFullReleaseIDD" onchange="isFullReleaseOnChange()">
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3">
        <div class="form-group">
            @Html.TextBoxFor(m => m.GeneralAccntModel.isContinuing, new { id = "isContinuingID", @class = "hidden" })
            <label class="custom-form-margin">For Continuing?</label>
            <select class="form-control select2nosearch" id="isContinuingIDD" onchange="isContinuingOnChange()">
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3">
        @Html.TextBoxFor(m => m.GeneralAccntModel.isOBRCashAdvance, new { id = "isOBRCashAdvanceID", @class = "hidden" })
        <div class="form-group">
            <label class="custom-form-margin">OBR Cash Adv?</label>
            <select class="form-control select2nosearch" id="isOBRCashAdvanceIDD" onchange="isOBRCashAdvanceOnChange()">
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3">
        <div class="form-group">
            <label class="custom-form-margin">Normal Balance</label>
            @Html.DropDownListFor(m => m.GeneralAccntModel.BalanceID, Model.GeneralAccntModel.NormalBalanceList, new { @class = "form-control select2", id = "BalanceID" })
        </div>
    </div>
    <div class="col">
        <button type="button" class="btn btn-menuRed btn-min-width float-right ml-1 mt-xl-2 mt-lg-2 mt-md-2" onclick="">
            Cancel
        </button>
        <button type="submit" class="btn btn-btnbackcolor btn-min-width float-right ml-1 mt-xl-2 mt-lg-2 mt-md-2">
            Add
        </button>
    </div>
</div>
}
<script>
    $(function () {
        $("#isReserveIDD").val("False");
        $("#ReservePercent").attr("disabled", "disabled");
        $("#isFullReleaseIDD").val("False");
        $("#isContinuingIDD").val("False");
        $("#isOBRCashAdvanceIDD").val("False");
        $("#ReservePercent").val(0);
        GetDyanmicGeneralLedgerAccountnoselect();
    })
    
</script>