@model BOSS.Models.FMmodels.FMSectorModels.SectorModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
@using (Ajax.BeginForm("SaveSector", "FileMaintenanceSector", new AjaxOptions { OnSuccess = "ifExists(data, GetSectorForm(1, 0) )", OnFailure = " swalError('Error saving', 'An error occured while saving data.')", HttpMethod = "post" }))
{
    @Html.HiddenFor(m => m.SectorList.SectorID, new { @id = "SectorID" })
    @Html.HiddenFor(m => m.ActionID, new { @class = "ActionID" })

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-1"></div>
        <div class="col-xl-8 col-lg-8 col-md-10">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <div class="form-group">
                        <label class="custom-form-margin">Sector</label>
                        @Html.TextAreaFor(m => m.SectorList.SectorTitle, new { @class = "form-control noSpeChar", @rows = 1, id = "SectorTitle" })
                        @Html.ValidationMessageFor(m => m.SectorList.SectorTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="custom-form-margin">Code</label>
                        @Html.TextBoxFor(m => m.SectorList.SectorCode, new { @class = "form-control numbersOnly", id = "SectorCode", maxlength = "4" })
                        @Html.ValidationMessageFor(m => m.SectorList.SectorCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="button" class="float-right btn btn-min-width ml-1 btn-menuRed" onclick="GetSectorForm(1,0)">Cancel</button>
                        <button type="submit" id="btnAddSector" class="float-right btn btn-btnbackcolor btn-min-width">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        numbersOnly();
        noSpeChar();
    });
</script>