@model BOSS.Models.FMmodels.FMAppropriarionSouceModels.FundSourceModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
@*@using (Ajax.BeginForm("AddNewFundSource", "FileMaintenanceAppropriation", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal( 'GetFundSourceDT','Successfully Saved!')", OnFailure = "", }))*@
@using (Ajax.BeginForm("SaveFundSource", "FileMaintenanceAppropriation", new AjaxOptions { OnSuccess = "ifExists(data, GetFundSourceForm(1, 0) )", OnFailure = " swalError('Error saving', 'An error occured while saving data.')", HttpMethod = "post" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.FundSourceList.FundSourceID, new { @id = "FundSourceID" })
    @Html.HiddenFor(m => m.ActionID, new { @class = "ActionID" })
    <div class="row">
        <div class="col-xl-2 col-lg-1 col-md-1"></div>
        <div class="col-xl-8 col-lg-10 col-md-10">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="custom-form-margin">Appropriation Source Type</label>
                        @Html.DropDownListFor(m => m.AppropSourceTypeID, Model.AppropriationSourceTypeList, new { @class = "form-control select2nosearch", id = "AppropSourceTypeID" })
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="custom-form-margin">Fund Source</label>
                        @Html.TextBoxFor(m => m.FundSourceList.FundSourceTitle, new { @class = "form-control", type = "text", id = "FundSourceTitle" })
                        @Html.ValidationMessageFor(m => m.FundSourceList.FundSourceTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="button" class="float-right btn btn-min-width ml-1 btn-menuRed" onclick="GetFundSourceForm(1, 0)">Cancel</button>
                        <button type="submit" id="btnAddFundSource" class="float-right btn btn-btnbackcolor btn-min-width">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        select2nosearch();
    })
</script>
