@model BOSS.Models.FMmodels.FMAccountsModels.FMMainChartofAccountModel
@*@model BOSS.Models.FMmodels.FMAccountsModels.AccountGroupModel*@
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("UpdateAccountGroup", "FileMaintenanceAccounts", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetAccountGroupDT','Successfully Updated!')", OnFailure = "", }))
{
    @Html.TextBoxFor(m => m.AccountGrpModel.AGID, new {})
    @Html.TextBoxFor(m => m.AccountGrpModel.allotclasssTempID, new { id= "allotclasssTempID" })
    @Html.TextBoxFor(m => m.AccountGrpModel.RevTempID, new { id= "RevTempID" })
    <div class="row">
        <div class="col-xl-1">
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4" id="revYearAGID">
        </div>
        <div class="col-xl-4 col-lg-8 col-md-8" id="allotClassAGID">
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
            <div class="form-group">
                <label class="custom-form-margin">Accounts</label>
                @Html.TextBoxFor(m => m.AccountGrpModel.getAccountGroupColumns.AGTitle, new { @class = "form-control", type = "text", id = "AGTitle" })
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6">
            <div class="form-group">
                <label class="custom-form-margin">Account Code</label>
                @Html.TextBoxFor(m => m.AccountGrpModel.getAccountGroupColumns.AGCode, new { @class = "form-control", type = "text", id = "AGCode" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-xl-1 col-xl-10">
            <button type="button" class="btn btn-menuRed btn-min-width ml-1 float-right" onclick="GetAccountGroupDT()">
                Cancel
            </button>
            <button type="submit" class="btn btn-btnbackcolor btn-min-width float-right">
                Update
            </button>
        </div>
    </div>
}
<script>
    $(function () {
        GetDynamicRevYearAGUpdate();
        LoadGetDynamicAllotClassAGUpdate();
        OnchangeRevYear();
    })
    function LoadGetDynamicAllotClassAGUpdate() {
        var RevID = $("#RevTempID").val();
        var allotclasssTempID = $("#allotclasssTempID").val();
        GetDynamicAllotClassAGUpdate(RevID, allotclasssTempID);
    }
    function OnchangeRevYear() {
        $("#RevID").on("change", function () {
            GetDynamicAllotClassAG();
        });
    }
</script>

