<div class="row">
    <div class="col-md-6 col-sm-4">
        <div class="form-group">
            <label class="custom-form-margin">Appropriation Source Type</label>
            <select class="form-control">
                <option>Annual Budget</option>
                <option>Continuing Appropirations</option>
                <option>Supplemental Budget</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 col-sm-4">
        <div class="form-group">
            <label class="custom-form-margin">Fund Source</label>
            <input type="text" id="fundCodeID" value="" class="form-control" />
        </div>
    </div>
</div>
<div class="row mb-1">
    <div class="col">
        <button type="button" class="btn btn-menuRed btn-min-width float-right">
            Clear
        </button>
        <button type="submit" class="btn btn-btnbackcolor btn-min-width float-right mr-1 ">
            Add
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered table-condensed zero-configuration w-100 table-smss-hover">
            <thead class="text-center">
                <tr>
                    <th>Appropriation Source Type</th>
                    <th>Fund Source</th>
                    <th width="5%" class="text-center">Action</th>

                </tr>
            </thead>
            <tbody>
                @{
                    var DeleteConfirmationMess = "Are you sure do you want to delete this?";
                    var DeleteSuccesMess = "Successfully Deleted";
                    var successUpdate = "Successfully Updated!";

                    var Update = "<div class=\"row m-small\"><button class=\"btn btn-icon black btn-menuorange form-control m-small my-0\" style=\"border-color: white \" type=\"button\" onclick=\"swalSuccess('" + successUpdate + "')\"> <i class='la la-edit'></i> Edit</button></div>";
                    var Remove = "<div class=\"row m-small\"><button class=\"btn btn-icon btn-menuRed white form-control m-small my-0\" style=\"border-color: white \" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '', '" + @DeleteSuccesMess + "')\"><i class='la la-trash'></i> Delete</button></div>";

                    var ActionAS = Update + Remove;


                    <tr>
                        <td>Annual Budget</td>
                        <td>Annual Budget</td>
                        <td class="text-center">
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-original-title="" data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Continuing Appropirations</td>
                        <td>Continuing Budget</td>
                        <td class="text-center">
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-original-title="" data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Supplemental Budget</td>
                        <td>New Revenue Sources</td>
                        <td class="text-center">
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-original-title="" data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Supplemental Budget</td>
                        <td>Realignment / Reversion</td>
                        <td class="text-center">
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-original-title="" data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Supplemental Budget</td>
                        <td>Lumpsum Appropriations</td>
                        <td class="text-center">
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-original-title="" data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(function () {
        LoadDataTable();
    })
</script>
