@model BOSS.Models.FMResponsibilityModels.DepartmentModel
@{
   BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;


@using (Ajax.BeginForm("AddNewDepartment", "FileMaintenanceResponsibility", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetDepartmentDT','Successfully Added!')", OnFailure = "", }))
{
    <div class="row">
        <div class="col-md-6 col-sm-4">
            <div class="form-group">
                <label class="custom-form-margin">Department</label>
                @Html.TextAreaFor(m => m.getDeptColumns.DeptTitle, new { @class = "form-control", @rows = 1, id = "DeptTitle" })
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="form-group">
                <label class="custom-form-margin">Department Abbreviation</label>
                @Html.TextBoxFor(m => m.getDeptColumns.DeptAbbrv, new { @class = "form-control", type = "text", id = "DeptAbbrv" })
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="form-group">
                <label class="custom-form-margin">Department/Office Code</label>
                @Html.TextBoxFor(m => m.getDeptColumns.DeptOfficeCode, new { @class = "form-control", type = "text", id = "DeptOfficeCode" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="form-group ">
                <label class="custom-form-margin">Sector</label>
                <span class="input-group-append">
                    @Html.DropDownListFor(m => m.SectorID, Model.SectorList, new { @class = "form-control select2", id = "SecID", onchange = "LoadGetDynamicSubSector()" })
                    <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" data-target="#ViewAddSectorDeptModal" onclick="GetAddSectorModalDept()"><strong>+</strong></button>
                </span>
            </div>
        </div>
        <div class="col-md-5 col-sm-4" id="SubSectorID">

        </div>
        <div class="col-md-3 col-sm-4">
            <div class="form-group ">
                <label class="custom-form-margin">Fund</label>
                <span class="input-group-append">
                    @Html.DropDownListFor(m => m.FundID, Model.FundTypeList, new { @class = "form-control select2nosearch" })
                    <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" data-target="#ViewAddFundDeptModal" onclick="GetAddFundModalDept()"><strong>+</strong></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="form-group">
                <button type="button" class="btn btn-menuRed btn-min-width float-right" onclick="GetDepartmentDT()">
                    Cancel
                </button>
                <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
                    Add
                </button>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        LoadICheck();
        select2nosearch();
        LoadGetDynamicSubSector();
    })
    function LoadGetDynamicSubSector() {
        GetAddDynamicSubSector();
    }
</script>
