@model BOSS.Models.FMAccounts.SubAccountsModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("AddNewSubAccount", "FileMaintenanceAccounts", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetSubAccountDT','Successfully Added!')", OnFailure = "", }))
{
    @Html.HiddenFor(m => m.AllotmentID, new { })
    @Html.HiddenFor(m => m.GenAccountID, new { })

    <div class="row mt-0">
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="form-group">
                <label class="custom-form-margin">Sub Account Title</label>
                @Html.TextAreaFor(m => m.getSubAcctColumns.SubAccountTitle, new { @class = "form-control", @rows = 1, id = "SubAccountTitle" })
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group mb-0 pb-0" style="margin-top:-5px;">
                <label>Sub Account Code</label>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-1 p-0" id="GenAccntID">
             
                </div>
                <div class="col-lg-1 col-md-1 p-0 col-sm-1">
                    <div class="ml-1" style="margin-top: 6px;">
                        <label>-</label>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-4 col-xs-3 pl-0">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.getSubAcctColumns.SubAccountCode, new { @class = "form-control", id = "SubAccountCode" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-0">
        <div class="col-md-1 col-sm-1">
        </div>
        @Html.HiddenFor(m => m.isReserve, new { id = "isReserveID" })
        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label class="custom-form-margin">With Reserve?</label>
                <select class="form-control select2nosearch" id="isReserveIDD" onchange="isReserveOnChange()">
                    <option value="0">Yes</option>
                    <option value="1">No</option>
                </select>
            </div>
        </div>

        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label class="custom-form-margin">Reserved %</label>
                <fieldset class="form-group">
                    @Html.TextBoxFor(m => m.getSubAcctColumns.ReservePercent, new { @class = "form-control", type = "text", id = "ReservePercent" })
                </fieldset>
            </div>
        </div>
        @Html.HiddenFor(m => m.isFullRelease, new { id = "isFullReleaseID" })
        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label class="custom-form-margin">For Full Release?</label>
                <select class="form-control select2nosearch" id="isFullReleaseIDD" onchange="isFullReleaseOnChange()">
                    <option value="0">Yes</option>
                    <option value="1">No</option>
                </select>
            </div>
        </div>
        @Html.HiddenFor(m => m.isContinuing, new { id = "isContinuingID" })
        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label class="custom-form-margin">For Continuing?</label>
                <select class="form-control select2nosearch" id="isContinuingIDD" onchange="isContinuingOnChange()">
                    <option value="0">Yes</option>
                    <option value="1">No</option>
                </select>
            </div>
        </div>
        @Html.HiddenFor(m => m.isOBRCashAdvance, new { id = "isOBRCashAdvanceID" })
        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label class="custom-form-margin">OBR Cash Adv?</label>
                <select class="form-control select2nosearch" id="isOBRCashAdvanceIDD" onchange="isOBRCashAdvanceOnChange()">
                    <option value="0">Yes</option>
                    <option value="1">No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col form-group">
            <button type="button" class="btn btn-menuRed btn-min-width mr-1 float-right" onclick="GetSubAccountDT()">
                Cancel
            </button>
            <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
                Add
            </button>
        </div>
    </div>
}
    <script>
        $(function () {
            select2nosearch();
            isReserveOnChange();
            isOBRCashAdvanceOnChange();
            isContinuingOnChange();
            isFullReleaseOnChange();
        })
        function isReserveOnChange() {
            var isReserveValue = $("#isReserveIDD").val();
            if (isReserveValue == 0) {
                $("#isReserveID").val(true);
                $("#ReservePercent").removeAttr('disabled');
                $("#ReservePercent").val("");
            } else {
                $("#isReserveID").val(false);
                $("#ReservePercent").attr("disabled", "disabled");
                $("#ReservePercent").val(0);
            }
        }
        function isOBRCashAdvanceOnChange() {
            var isOBRCashAdvanceValue = $("#isOBRCashAdvanceIDD").val();

            if (isOBRCashAdvanceValue == 0) {
                $("#isOBRCashAdvanceID").val(true);
            } else {
                $("#isOBRCashAdvanceID").val(false
                );
            }
        }
        function isContinuingOnChange() {
            var isContinuingValue = $("#isContinuingIDD").val();
            if (isContinuingValue == 0) {
                $("#isContinuingID").val(true);
            } else {
                $("#isContinuingID").val(false);
            }
        }
        function isFullReleaseOnChange() {
            var isFullReleaseValue = $("#isFullReleaseIDD").val();
            if (isFullReleaseValue == 0) {
                $("#isFullReleaseID").val(true);
            } else {
                $("#isFullReleaseID").val(false);
            }
        }
    </script>