@model BOSS.Models.FMAccounts.SubAccountsModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("UpdateSubAcct", "FileMaintenanceAccounts", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetSubAccountDT','Successfully Updated!')", OnFailure = "", }))
{
    @Html.HiddenFor(m => m.AllotmentID, new { })
    @Html.HiddenFor(m => m.GenAccountID, new { })
    @Html.HiddenFor(m => m.SubAccountID, new { })
    
    <div class="row mt-0">
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="form-group ">
                <label style="margin-bottom:2px;">Sub Account Title</label>
                @Html.TextAreaFor(m => m.getSubAcctColumns2.SubAccountTitle, new { @class = "form-control", @rows = 1, id = "SubAccountTitle" })
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group mb-0 pb-0" style="margin-top:-5px;">
                <label>Sub Account Code</label>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div id="GenAccntID">

                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.getSubAcctColumns2.SubAccountCode, new { @class = "form-control", id = "SubAccountCode" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-0">
        <div class="col-md-1 col-sm-1">
        </div>
        @Html.TextBoxFor(m => m.isReserve, new { id = "isReserveID", @class = "hidden" })
        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label style="margin-bottom:2px;">With Reserve?</label>
                <select class="form-control" id="isReserveIDD" onchange="isReserveOnChange()">
                    <option value=True>Yes</option>
                    <option value=False>No</option>
                </select>
            </div>
        </div>

        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label style="margin-bottom:2px;">Reserved %</label>
                <fieldset class="form-group">
                    @Html.TextBoxFor(m => m.getSubAcctColumns2.ReservePercent, new { @class = "form-control", type = "text", id = "ReservePercent" })
                </fieldset>
            </div>
        </div>
        @Html.TextBoxFor(m => m.isFullRelease, new { id = "isFullReleaseID", @class = "hidden" })
        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label style="margin-bottom:2px;">For Full Release?</label>
                <select class="form-control" id="isFullReleaseIDD" onchange="isFullReleaseOnChange()">
                    <option value=True>Yes</option>
                    <option value=False>No</option>
                </select>
            </div>
        </div>
        @Html.TextBoxFor(m => m.isContinuing, new { id = "isContinuingID", @class = "hidden" })
        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label style="margin-bottom:2px;">For Continuing?</label>
                <select class="form-control" id="isContinuingIDD" onchange="isContinuingOnChange()">
                    <option value=True>Yes</option>
                    <option value=False>No</option>
                </select>
            </div>
        </div>
        @Html.TextBoxFor(m => m.isOBRCashAdvance, new { id = "isOBRCashAdvanceID", @class = "hidden" })
        <div class="col-md-2 col-sm-2 mt-0">
            <div class="form-group">
                <label style="margin-bottom:2px;">OBR Cash Adv?</label>
                <select class="form-control" id="isOBRCashAdvanceIDD" onchange="isOBRCashAdvanceOnChange()">
                    <option value=True>Yes</option>
                    <option value=False>No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col form-group">
            <button type="button" class="btn btn-menuRed btn-min-width float-right" onclick="GetSubAccountDT()">
                Cancel
            </button>
            <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
                Update
            </button>
        </div>
    </div>
}

<script>
    $(function () {
       // removesearchselect2();
        $("#isReserveIDD").val($("#isReserveID").val());
        $("#isFullReleaseIDD").val($("#isFullReleaseID").val());
        $("#isContinuingIDD").val($("#isContinuingID").val());
        $("#isOBRCashAdvanceIDD").val($("#isOBRCashAdvanceID").val());
    })
    function isReserveOnChange() {
        $("#isReserveID").val($("#isReserveIDD").val());
    }
    function isOBRCashAdvanceOnChange() {
        $("#isOBRCashAdvanceID").val($("#isOBRCashAdvanceIDD").val());
    }
    function isContinuingOnChange() {
        $("#isContinuingID").val($("#isContinuingIDD").val());
    }
    function isFullReleaseOnChange() {
        $("#isFullReleaseID").val($("#isFullReleaseIDD").val());
    }
</script>