@model BOSS.Models.FMAccounts.GeneralAccountsModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;


@using (Ajax.BeginForm("UpdateGenAcct", "FileMaintenanceAccounts", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetAddGeneralAccount','Successfully Updated!')", OnFailure = "", }))
{
    @Html.HiddenFor(m => m.GenAccountID, new { })
    @Html.HiddenFor(m => m.allotTempID, new { id = "TempAllot" })
<div class="row mt-1">
    <div class="col-md-1">
    </div>
    <div class="col-md-4 col-sm-4" id="dynamicAllotmentID">

    </div>
    <div class="col-md-2 col-sm-4">
        <div class="form-group ">
            <label style="margin-bottom:2px;">Account Code</label>
            @Html.TextBoxFor(m => m.getGenAcctColumns2.GenAccountCode, new { @class = "form-control", type = "text", id = "GenAccountCode", @readonly = "@readonly" })
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group ">
            <label style="margin-bottom:2px;">Account Title</label>
            <fieldset class="position-relative">
                @Html.TextAreaFor(m => m.getGenAcctColumns2.GenAccountTitle, new { @class = "form-control", @rows = 1, type = "text", id = "GenAccountTitle", @readonly = "@readonly" })
                <div class="form-control-position">
                    <i class="la la-pencil warning" data-toggle="tooltip" title="Click to change Account Details" onclick="GetChangeAcctDetailsModal()"></i>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="row mt-0">
    <div class="col-md-1">
    </div>
    @Html.TextBoxFor(m => m.isReserve, new { id = "isReserveID", @class = "hidden" })
    <div class="col-md-2 col-sm-2 mt-0">
        <div class="form-group">
            <label style="margin-bottom:2px;">With Reserve?</label>
            <select class="form-control" id="isReserveIDD" onchange="isReserveOnChange()">
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 mt-0">
        <div class="form-group">
            <label style="margin-bottom:2px;">Reserved %</label>
            <fieldset class="form-group">
                @Html.TextBoxFor(m => m.getGenAcctColumns2.ReservePercent, new { @class = "form-control", type = "text", id = "ReservePercent" })
            </fieldset>
        </div>
    </div>
    @Html.TextBoxFor(m => m.isFullRelease, new { id = "isFullReleaseID", @class = "hidden" })
    <div class="col-md-2 col-sm-2 mt-0">
        <div class="form-group">
            <label style="margin-bottom:2px;">For Full Release?</label>
            <select class="form-control" id="isFullReleaseIDD" onchange="isFullReleaseOnChange()">
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
        </div>
    </div>
    @Html.TextBoxFor(m => m.isContinuing, new { id = "isContinuingID", @class = "hidden" })
    <div class="col-md-2 col-sm-2 mt-0">
        <div class="form-group">
            <label style="margin-bottom:2px;">For Continuing?</label>
            <select class="form-control" id="isContinuingIDD" onchange="isContinuingOnChange()">
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
        </div>
    </div>
    @Html.TextBoxFor(m => m.isOBRCashAdvance, new { id = "isOBRCashAdvanceID", @class = "hidden" })
    <div class="col-md-2 col-sm-2 mt-0">
        <div class="form-group">
            <label style="margin-bottom:2px;">OBR Cash Adv?</label>
            <select class="form-control" id="isOBRCashAdvanceIDD" onchange="isOBRCashAdvanceOnChange()">
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
        </div>
    </div>
</div>
    <div class="row mb-1">
        <div class="col">
            <button type="button" class="btn btn-menuRed btn-min-width float-right" onclick="GetAddGeneralAccount()">
                Cancel
            </button>
            <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
                Update
            </button>
        </div>
    </div>
}
@*Edit Account Details Modal*@
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="form-group">
        <div class="modal fade text-left" id="ViewEnterPIN" role="dialog">
            <div class="modal-dialog modal-xs" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel4"><strong>Enter Pin</strong></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body skin skin-square pt-2">
                        <div class="form-group">
                            <fieldset class="form-group position-relative has-icon-left">
                                @Html.TextBoxFor(m => m.Pin_Acct, new { @class = "form-control", type = "password", id = "Pin_Acct", @placeholder = "Enter PIN Here", autofocus = "autofocus" })
                                <div class="form-control-position"><i class="la la-key"></i>
                                </div>
                            </fieldset>
                            <button type="button" class="btn btn-btnbackcolor btn-block" onclick="ValidatePin()">
                            <i class="ft-unlock"></i> Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function GetChangeAcctDetailsModal() {
        $.ajax({
            url: '/FileMaintenanceAccounts/GetChangeAcctDetailsModal',
            success: function (result) {
                $("#ViewEnterPIN").modal('toggle');
            }
        })
    }
</script>


<script>
    $(function () {
        GetDynamicAllotmentClassForUpdate();
        //removesearchselect2();
    })
</script>
<script>
    $(function () {
        $("#isReserveIDD").val($("#isReserveID").val());
        $("#isFullReleaseIDD").val($("#isFullReleaseID").val());
        $("#isContinuingIDD").val($("#isContinuingID").val());
        $("#isOBRCashAdvanceIDD").val($("#isOBRCashAdvanceID").val());
    })
    function isReserveOnChange() {
        $("#isReserveID").val($("#isReserveIDD").val());
    }
    function isOBRCashAdvanceOnChange() {
        $("#isOBRCashAdvanceID").val($("#isOBRCashAdvanceIDD").val());
    }
    function isContinuingOnChange() {
        $("#isContinuingID").val($("#isContinuingIDD").val());
    }
    function isFullReleaseOnChange() {
        $("#isFullReleaseID").val($("#isFullReleaseIDD").val());
    }
</script>


<script>
    $(document).ready(function () {
        $("[data-toggle=tooltip]").tooltip({ placement: 'top' });
    });
</script>
<script>
    function ValidatePin() {
        var Pin_Acct = $("#Pin_Acct").val();
        $.ajax({
            url: '/FileMaintenanceAccounts/ValidatePin',
            data: { Pin_Acct: Pin_Acct },
            success: function (pinStatus) {
                if (pinStatus == 1) {
                    $('#GenAccountCode').removeAttr("readonly");
                    $('#GenAccountTitle').removeAttr("readonly");
                    $("#ViewEnterPIN").modal('toggle');
                    $(".form-control-position").toggle();
                } else {
                    swalError("Validation", "Incorect PIN")
                }
            }
        })
    }
</script>