@model BOSS.Models.FMSignatoryModels.SignatoryModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("AddNewSignatory", "FileMaintenanceSignatory", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingwoModal('FMSignatoryController', 'GetSignatoryDTable','Successfully Saved!')", OnFailure = "OnFailure()", }))
{
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-4 col-md-3 col-sm-4">
            <div class="form-group">
                <label class="custom-form-margin">Employee Name</label>
                @Html.TextBoxFor(m => m.getSignatoryColumns.SignatoryName, new { @class = "form-control", id = "SignatoryName" })
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5 mx-0">
            <div class="form-group">
                <label class="custom-form-margin">Preferred Name</label>
                @Html.TextBoxFor(m => m.getSignatoryColumns.PreferredName, new { @class = "form-control", id = "PreferredName" })
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
            @Html.TextBoxFor(m => m.isHead, new { id = "isHeadID", @class = "hidden" })
            <div class="form-group">
                <label class="custom-form-margin">Dept. Head</label>
                <select class="form-control select2nosearch" id="isHeadIDD" onchange="isHeadOnChange()">
                    <option value="0">Yes</option>
                    <option value="1">No</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 col-sm-5">
            <div class="form-group">
                <label class="custom-form-margin">Position</label>
                <span class="input-group-append">
                    @Html.DropDownListFor(m => m.PositionID, Model.PositionList, new { @class = "form-control select2", id = "PosID" })
                    <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" onclick="AngularGlobalFunctions('FMSignatoryController','GetAddPositionModal','')"><strong>+</strong></button>
                </span>
            </div>
        </div>
        <div class="col-md-6 col-sm-7">
            <div class="form-group">*
                <label class="custom-form-margin">Department</label>
                <span class="input-group-append">
                    @Html.DropDownListFor(m => m.DeptID, Model.DepartmentList, new { @class = "form-control select2", id = "DeptID", onchange = "LoadGetAddDynamicFunction()" })
                    <button type="button" class="btn btn-warning btn-sm m-left" data-toggle="modal" onclick="AngularGlobalFunctions('FMSignatoryController','GetAddDeptModal','')"><strong>+</strong></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 col-sm-5">
            <div id="functionlistID">

            </div>
        </div>
        <div class="col-md-4 col-sm-4 mx-0">
            <div class="form-group">
                <label class="custom-form-margin">Division</label>
                @Html.TextBoxFor(m => m.getSignatoryColumns.Division, new { @class = "form-control", id = "Division" })
            </div>
        </div>
        @*<div class="col-md-3 col-sm-3">
                @Html.TextBoxFor(m => m.isActive, new { id = "isActiveID", @class="hidden" })
                <fieldset class="form-group">
                    <label class="custom-form-margin"> Is Active</label>
                    @Html.CheckBox("IsChecked", new { @class = "form-control", onchange = "isActiveonChange()" })
                </fieldset>
            </div>*@
        <div class="col-md-3 col-sm-3">
            @Html.TextBoxFor(m => m.isActive, new { id = "isActiveID", @class = "hidden" })
            <fieldset class="form-group">
                <label class=" mt-md-2">
                    <input type="checkbox" id="IsChecked" onchange="isActiveonChange()">
                    Is Active
                </label>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <button type="button" class="btn btn-menuRed btn-min-width ml-1 pull-right" onclick="AngularGlobalFunctions('FMSignatoryController','GetSignatoryDTable','')">
                    Cancel
                </button>
                <button type="submit" class="btn btn-btnbackcolor btn-min-width pull-right">
                    Add
                </button>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        LoadGetAddDynamicFunction();
        isHeadOnChange();
        LoadICheck();
        select2nosearch();
        isActiveonChange();
    })
    function LoadGetAddDynamicFunction() {
        AngularGlobalFunctions('FMSignatoryController', 'GetAddDynamicFunction', '')
    }
    function isHeadOnChange() {
        var isHeadValue = $("#isHeadIDD").val();

        if (isHeadValue == 0) {
            $("#isHeadID").val(true);
        } else {
            $("#isHeadID").val(false);
        }
    }

    function isActiveonChange() {
        $('#isActiveID').val($('#IsChecked').is(':checked'));
    }
</script>
