@model IEnumerable<BOSS.Models.FMmodels.FMSignatoryModels.SignatoryList>
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<table class="table table-responsive table-bordered table-smss-hover zero-configuration w-100">
    <thead class="text-center">
        <tr>
            <th>Employee Name</th>
            <th>Preferred Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Dept.Head</th>
            <th>Function</th>
            <th>Division</th>
            <th>Is Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var Items in Model)
            {
                var Update = "<button class='btn btn-icon black btn-menuorange btn-block border-0' id='btnEditSignatoryID' SignatoryAttr='" + Items.SignatoryID + "'><i class='ft-edit'></i> Edit</button>";
                var Remove = "<button class='btn btn-icon btn-menuRed white btn-block border-0' id='btnDeleteSignatoryID' SignatoryAttr='" + Items.SignatoryID + "'><i class='la la-trash'></i> Delete</button>";

                var ActionFM = Update + Remove;

        <tr>
            <td>@Items.SignatoryName</td>
            <td>@Items.PreferredName</td>
            <td>@Items.PositionTitle</td>
            <td>@Items.DeptTitle</td>
            <td>
                @{
                    var isHeadValue = "Yes";
                    if (Items.isHead != true)
                    {
                        isHeadValue = "No";
                    }
                }
                @isHeadValue
            </td>
            <td>@Items.FunctionTitle</td>
            <td>@Items.Division</td>
            <td>
                @{
                    var isActiveID = "Yes";
                    if (Items.isActive != true)
                    {
                        isActiveID = "No";
                    }
                }
                @isActiveID

            </td>
            <td class="text-center">
                <button type="button" onfocusout="PopoveLostFocus()"
                        class="btn btn-m btn-btnbackcolor popover-trigger"
                        data-toggle="popover" data-content="@ActionFM"
                        data-original-title="" data-html="true" data-placement="left">
                    <i class="la la-bars"></i>
                </button>
            </td>
        </tr>
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        LoadDataTable();
    })
</script>