@model BOSS.Models.FMmodels.FMSignatoryModels.SignatoryModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("UpdateSignatory", "FileMaintenanceSignatory", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingwoModal('FMSignatoryController', 'GetSignatoryDTable','Successfully Updated!')", OnFailure = "OnFailure()", }))
{
    @Html.HiddenFor(m => m.SignatoryID, new { })
    @Html.HiddenFor(m => m.funcTempID, new { id = "funcTempID" })
    
        <div class="row">
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-10 col-lg-10">
                <div class="row">
                    <div class="col-xl-5 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="custom-form-margin">Employee Name</label>
                            @Html.TextBoxFor(m => m.getSignatoryColumns.SignatoryName, new { @class = "form-control", id = "SignatoryName" })
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="form-group">
                            <label class="custom-form-margin">Preferred Name</label>
                            @Html.TextBoxFor(m => m.getSignatoryColumns.PreferredName, new { @class = "form-control", id = "SignatoryName" })
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3">
                        @Html.HiddenFor(m => m.isHead, new { id = "isHeadID" })
                        <div class="form-group">
                            <label class="custom-form-margin">Dept. Head</label>
                            <select class="form-control select2nosearch" id="isHeadIDD" onchange="isHeadOnChange()">
                                <option value=True>Yes</option>
                                <option value=False>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-5 col-sm-5">
                        <div class="form-group">
                            <label class="custom-form-margin">Position</label>
                            @Html.DropDownListFor(m => m.PositionID, Model.PositionList, new { @class = "form-control select2", id = "PosID" })

                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-7">
                        <div class="form-group">
                            <label class="custom-form-margin">Department</label>
                            @Html.DropDownListFor(m => m.DeptID, Model.DepartmentList, new { @class = "form-control select2", id = "DeptID2", onchange = "LoadGetUpdateDynamicFunction3()" })

                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div id="functionlistID">

                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-4">
                        <div class="form-group">
                            <label class="custom-form-margin">Division</label>
                            @Html.TextBoxFor(m => m.getSignatoryColumns.Division, new { @class = "form-control", id = "SignatoryName" })
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3">
                        @Html.HiddenFor(m => m.isActive, new { id = "isActiveID" })
                        <fieldset class="form-group">
                            <label class=" mt-md-2">
                                <input type="checkbox" id="isActiveIDD" onchange="isActiveonChange()">
                                Is Active
                            </label>
                        </fieldset>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-menuRed btn-min-width pull-right ml-1" onclick="AngularGlobalFunctions('FMSignatoryController','GetSignatoryDTable','')">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-btnbackcolor btn-min-width pull-right">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
}
<script>
    $(function () {
        LoadGetUpdateDynamicFunction();
        isActiveonChange2();
        $("#isHeadIDD").val($("#isHeadID").val());
        $("#isActiveIDD").val($("#isActiveID").val());
    })
    function LoadGetUpdateDynamicFunction() {
        var DeptID = $("#DeptID2").val();
        var funcTempID = $("#funcTempID").val();
        AngularGlobalFunctionsTwoParams('FMSignatoryController', 'GetUpdateDynamicFunction', DeptID, funcTempID);
    }
    function LoadGetUpdateDynamicFunction3() {
        AngularGlobalFunctions('FMSignatoryController', 'GetUpdateDynamicFunction3');
    }
    function isActiveonChange2() {
        var isActiveValue = $("#isActiveID").val();
        if (isActiveValue == "True") {
            $("#isActiveIDD").attr("checked", true);
        } else {
            $("#isActiveIDD").attr("checked", false);
        }
    }
    function isActiveonChange() {
        if ($('#isActiveIDD').prop('checked')) {
            $("#isActiveID").val("True");
        }
        else if ($("#isActiveIDD").attr("checked", true)) {
            $("#isActiveID").val("False");
        }
    }
    function isHeadOnChange() {
        $("#isHeadID").val($("#isHeadIDD").val());
    }
</script>