@(Layout = null)
@model BOSS.Models.LoginModel.LoginModel
@{
    //SMSSEntities SMSSDB = new SMSSEntities();
    ViewBag.Title = "Login";
}
@using BOSS.Models;
@using System.Security.Claims;

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>Login - BOSS</title>
    <link rel="apple-touch-icon" href="~/Resources/Image/BOSS.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Resources/Image/BOSS.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
          rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css"
          rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/vendors/css/pickers/pickadate/pickadate.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/vendors/css/forms/selects/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/vendors/css/forms/icheck/custom.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/css/app.css">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/css/pages/login-register.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/css/plugins/forms/checkboxes-radios.min.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/css/plugins/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/vendors/css/cryptocoins/cryptocoins.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/css/plugins/pickers/daterange/daterange.css">
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/app-assets/vendors/css/extensions/sweetalert.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/modernadmin/modern-admin-1.0/assets/css/style.css">
    <!-- END Custom CSS-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN Vendor JS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Angular/Ng.Module.js"></script>
</head>

<body class="vertical-layout vertical-menu 1-column   menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-menu" data-col="1-column">
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light bg-backcolorheadertitle bg-info navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="index.html">
                            <img class="brand-logo" alt="modern admin logo" src="~/Resources/Image/BOSS.png">
                            <h3 class="brand-text"> FMIS </h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2  mt-5 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="~/Resources/Image/BOSS.png" alt="branding logo" style="width: 70px; height: 70px">
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-5 pt-2">
                                        <span>Budget Operations Support System</span>
                                    </p>
                                </div>
                                <div class="card-content">
                                    <div class="card-body pt-0">
                                        @using (Html.BeginForm("LoginIndex", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)
                                        <form class="form-horizontal" action="index.html" novalidate>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.TextBoxFor(m => m.username, new { type = "text", @class = "form-control input-lg", id = "user-name", placeholder = "Your Username" })
                                                @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="la la-user"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.TextBoxFor(m => m.password, new { @class = "form-control input-lg", type = "password", id = "user-password", placeholder = "Enter Password" })
                                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="la la-key"></i>
                                                </div>
                                            </fieldset>
                                            <button type="submit" class="btn btn-btnbackcolor btn-lg btn-block"><i class="ft-unlock"></i> Login</button>
                                        </form>
                                        }
                                    </div>
                                    <div class="card-body pb-0">
                                        @*<p class="text-center"><a href="recover-password.html" class="card-link">Recover password</a></p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <footer class="footer fixed-bottom footer-dark navbar-border navbar-shadow"></footer>


    <!-- BEGIN: Page Vendor JS-->
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/pickers/pickadate/picker.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/pickers/pickadate/picker.date.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/pickers/pickadate/picker.time.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/pickers/pickadate/legacy.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/forms/select/select2.full.min.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN MODERN JS-->
    <script src="~/modernadmin/modern-admin-1.0/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END MODERN JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/modernadmin/modern-admin-1.0/app-assets/js/scripts/pickers/dateTime/pick-a-datetime.js" type="text/javascript"></script>
    <!-- END: Page JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/modernadmin/modern-admin-1.0/app-assets/js/scripts/forms/select/form-select2.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/js/scripts/modal/components-modal.min.js"></script>

    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/js/scripts/forms/checkbox-radio.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <script src="~/modernadmin/modern-admin-1.0/app-assets/js/scripts/tables/datatables/datatable-basic.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <script src="~/modernadmin/modern-admin-1.0/app-assets/js/scripts/extensions/sweet-alerts.js"></script>
    <!-- BEGIN Custom JS-->
    <script src="~/modernadmin/modern-admin-1.0/assets/js/scripts.js"></script>
    <!-- END Custom JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</body>
</html>
