<div class="row mt-1">
    <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin mt-xl-2 mt-lg-2">Department</label>
            <textarea type="text" class="form-control" rows="1" name="name" value="" />
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin">Department Abbreviation</label>
            <input type="text" class="form-control" name="name" value="" />
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin">Responsibility Center Code</label>
            <input type="text" class="form-control" name="name" value="0000" />
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin mt-xl-2 mt-lg-2">Fund</label>
                <select class="form-control">
                    <option>General Fund</option>
                    <option>Calamity Fund</option>
                    <option>Development Fund</option>
                    <option>Special Education Fund</option>
                    <option>Trust Fund</option>
                </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin mt-xl-2">Sector</label>
                <select class="form-control">
                    <option>Social Services</option>
                    <option>Economic Services</option>
                    <option>General Public Services</option>
                    <option>Other Public Services</option>
                </select>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin mt-xl-2">Sub Sector</label>
                <select class="form-control">
                    <option>Social Security, Social Services and Welfare</option>
                    <option>Health and Nutrition</option>
                </select>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin mt-xl-2">Office Type</label>
                <select class="form-control">
                    <option>Mandatory</option>
                    <option>Optional</option>
                </select>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6">
        <div class="form-group">
            <label class="custom-form-margin">Department / Office Code</label>
            <input type="text" class="form-control" name="name" value="00" />
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <button type="button" class="btn btn-menuRed btn-min-width mr-1 float-right">
            Cancel
        </button>
        <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
            Add
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-responsive table-striped table-bordered table-condensed zero-configuration w-100 table-smss-hover">
            <thead class="text-center">
                <tr>
                    <th>Department</th>
                    <th>Department Abbreviation</th>
                    <th>Responsibility Center Code</th>
                    <th>Fund</th>
                    <th>Sector</th>
                    <th>Sub Sector</th>
                    <th>Office Type</th>
                    <th>Department / Office Code</th>
                    <th width="5%">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var DeleteConfirmationMess = "Are you sure do you want to delete this?";
                    var DeleteSuccesMess = "Successfully Deleted";
                    var successUpdate = "Successfully Updated!";

                    var Update = "<div class=\"row m-small\"><button class=\"btn btn-icon black btn-menuorange form-control m-small my-0\" style=\"border-color: white \" type=\"button\" onclick=\"swalSuccess('" + successUpdate + "')\"> <i class='la la-edit'></i> Edit</button></div>";
                    var Remove = "<div class=\"row m-small\"><button class=\"btn btn-icon btn-menuRed white form-control m-small my-0\" style=\"border-color: white \" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '', '" + @DeleteSuccesMess + "')\"><i class='la la-trash'></i> Delete</button></div>";

                    var ActionAS = Update + Remove;
                }
                <tr>
                    <td>Office of the Local Chief Executive</td>
                    <td>LCE</td>
                    <td class="text-center">1011</td>
                    <td>General Fund</td>
                    <td>Social Services</td>
                    <td>Health and Nutrition</td>
                    <td>Mandatory</td>
                    <td class="text-center">01</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Office of the Local Budget Office</td>
                    <td>LBO</td>
                    <td class="text-center">1021</td>
                    <td>General Fund</td>
                    <td>General Public Services</td>
                    <td>N/A</td>
                    <td>Mandatory</td>
                    <td class="text-center">02</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td>General Services Office</td>
                    <td>GSO</td>
                    <td class="text-center">1031</td>
                    <td>General Fund</td>
                    <td>General Public Services</td>
                    <td>N/A</td>
                    <td>Mandatory</td>
                    <td class="text-center">05</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Office of the Local Accountant</td>
                    <td>LBO</td>
                    <td class="text-center">1081</td>
                    <td>General Fund</td>
                    <td>General Public Services</td>
                    <td>N/A</td>
                    <td>MAndatory</td>
                    <td class="text-center">03</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Office of the Local Engineering and Maintenance</td>
                    <td>LBO</td>
                    <td class="text-center">1071</td>
                    <td>General Fund</td>
                    <td>Economic Services</td>
                    <td>N/A</td>
                    <td>Mandatory</td>
                    <td class="text-center">04</td>
                    <td class="text-center">
                        @{
                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" style="padding:5px;"
                                    data-toggle="popover" data-content="@ActionAS"
                                    data-html="true" data-placement="left">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        LoadDataTable();
    })
</script>