@model IEnumerable<BOSS.Models.FMmodels.FMResCenterModels.FunctionList>
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

<table class="table table-responsive table-striped table-bordered table-condensed zero-configuration w-100 table-smss-hover">
    <thead class="text-center">
        <tr>
            <th>Department</th>
            <th>Function</th>
            <th>Function Abbreviation</th>
            <th>Function Code</th>
            <th>Fund</th>
            <th>Sector</th>
            <th>Sub Sector</th>
            <th>Office Type</th>
            <th>Department / Office Code</th>
            <th width="5%">Action</th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var Items in Model)
            {
                var Update = "<button class='btn btn-icon black btn-menuorange btn-block border-0' id='btnEditFuncID' FuncAttr='" + Items.FunctionID + "'><i class='ft-edit'></i> Edit</button>";
                var Remove = "<button class='btn btn-icon btn-menuRed white btn-block border-0' id='btnDeleteFuncID' FuncAttr='" + Items.FunctionID + "'><i class='la la-trash'></i> Delete</button>";
                var Action = Update + Remove;
        <tr>
            <td>@Items.DeptTitle</td>
            <td>@Items.FunctionTitle</td>
            <td>@Items.FunctionAbbrv</td>
            <td class="text-center">@Items.FunctionCode</td>
            <td>@Items.FundTitle</td>
            <td> @Items.SectorTitle</td>
            <td>
                @{ 
                    var SubsectorTitleValue = "N/A";
                    var departmentTable = (from e in BOSSDB.Tbl_FMSector_SubSector where e.SubSectorID == Items.SubSectorID select e).FirstOrDefault();

                    if (departmentTable != null)
                    {
                        SubsectorTitleValue = departmentTable.SubSectorTitle;
                    }
                }
             @SubsectorTitleValue
            </td>
            <td>@Items.OfficeTypeTitle</td>
            <td  class="text-center">@Items.DeptOfficeCodefunc</td>
            <td class="text-center">
                <button type="button" onfocusout="PopoveLostFocus()"
                        class="btn btn-m btn-btnbackcolor popover-trigger"
                        data-toggle="popover" data-content="@Action"
                        data-original-title="" data-html="true" data-placement="left">
                    <i class="la la-bars"></i>
                </button>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
<script>
    $(function () {
        LoadDataTable();
    })
</script>
