@model BOSS.Models.FMResponsibilityModels.FunctionModel
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;

@using (Ajax.BeginForm("UpdateFunction", "FileMaintenanceResponsibility", new AjaxOptions { OnSuccess = "GlobalAlertsCallingwoModal('GetPartialIndexFunction2','Successfully Updated!')", OnFailure = "", }))
{
    <div class="card-header bg-active">
        <h4 class="card-title black ">Update Function</h4>
    </div>

    @Html.HiddenFor(m => m.FunctionID, new { })
    @Html.HiddenFor(m => m.DeptID2, new { })
    <div class="card-body card-body rounded box-shadow-4  px-0">
        <div class="card-body py-0" action="index.html" novalidate>
            <div class="row">
                <div class="col-md-6 col-sm-4 mx-0">
                    <div class="form-group">
                        <label class="custom-form-margin">Function</label>
                        @Html.TextAreaFor(m => m.getFunctionColumns2.FunctionTitle, new { @class = "form-control", @rows = 1, id = "FunctionTitle" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 mx-0">
                    <div class="form-group">
                        <label class="custom-form-margin">Function Abbreviation</label>
                        @Html.TextBoxFor(m => m.getFunctionColumns2.FunctionAbbrv, new { @class = "form-control", type = "text", id = "FunctionAbbrv" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 mx-0">
                    <div class="form-group">
                        <label class="custom-form-margin">Function Code</label>
                        @Html.TextBoxFor(m => m.getFunctionColumns2.FunctionCode, new { @class = "form-control", type = "text", id = "FunctionCode" })
                    </div>
                </div>
            </div>
            <div class="row mt-0">
                <div class="col-md-9" id="sectorSubsectorID">

                </div>
                <div class="col-md-3 col-sm-4 mt-0">
                    <div class="form-group ">
                        <label class="custom-form-margin">Fund</label>
                        @Html.DropDownListFor(m => m.FundID, Model.FundTypeList, new { @class = "form-control select2" })
                    </div>
                </div>
            </div>
            @*BUTTON*@
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-menuRed btn-min-width float-right" onclick="GetPartialIndexFunction2()">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 float-right">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        LoadICheck();
    })
</script>

