@model IEnumerable<BOSS.Models.FMmodels.FMAccountsModels.MajorAccountGroupList>
@{
    BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;
<div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
        <table class="table table-responsive table-striped table-bordered table-condensed zero-configuration w-100 table-smss-hover">
            <thead class="text-center">
                <tr>
                    <th width="10%">Revision Year</th>
                    <th>Allotment Class</th>
                    <th>Accounts</th>
                    <th>Major Account Group</th>
                    <th width="5%">Account Code</th>
                    <th width="5%">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Items in Model)
                    {
                    <tr>
                        <td class="text-center">@Items.RevYear</td>
                        <td>@Items.AllotmentClassTitle</td>
                        <td>@Items.AGTitle</td>
                        <td>@Items.MAGTitle</td>
                        <td class="text-center">@Items.concatMAGCode</td>
                        <td class="text-center">
                        @{
                            var btnEdit = "<button class='btn btn-icon btn-success btn-block border-0' id='btnEditMAGID' MAGAttr='" + Items.MAGID + "'><i class='ft-edit'></i> Edit</button>";
                            var btnDelete = "<button class='btn btn-icon btn-danger white btn-block border-0' id='btnDeleteMAGID' MAGAttr='" + Items.MAGID + "'><i class='la la-trash'></i> Delete</button>";

                            var btnQty = btnEdit + btnDelete;

                            <button type="button" onfocusout="PopoveLostFocus()"
                                    class="btn btn-m btn-btnbackcolor popover-trigger" data-placement="left"
                                    data-toggle="popover" data-content="@btnQty">
                                <i class="la la-bars"></i>
                            </button>
                        }
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        LoadDataTable();
    })
</script>
