@model BOSS.Models.FMAppropriationSourceModels.FMAppropriationSourceModel
@{
                /**/

                /**/

                BOSSEFConnectionString BOSSDB = new BOSSEFConnectionString();
}
@using BOSS.Models;


@using (Ajax.BeginForm("AddNewAppropSoure", "FileMaintenanceAppropriation", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingwoModal('ApproSourceController', 'GetAppropriationSourceDT','Appropriation Saved!')", OnFailure = "OnFailure()", }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-xl-2 col-lg-1 col-md-1">

        </div>
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6 mx-0">
            <div class="form-group">
                <label class="custom-form-margin ">Appropriation Source Type</label>
                @Html.DropDownListFor(m => m.AppropriationSourceID, Model.AppropriationSourceTypeList, new { @class = "form-control select2nosearch", id = "AppropriationSourceTypeID", onchange = "LoadGetDynamicFund()" })

            </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6 mx-0">
            <div class="form-group">
                <label class="custom-form-margin">Description</label>
                @Html.TextBoxFor(m => m.getAppropriationSourceColumns.Description, new { @class = "form-control", type = "text", id = "desc" })
                @Html.ValidationMessageFor(m => m.getAppropriationSourceColumns.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-lg-1 col-md-1">
        </div>
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6 mx-0" id="FundSourceID">
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 mx-0">
            <div class="form-group">
                <label class="custom-form-margin">Budget Year</label>
                @Html.DropDownListFor(m => m.BudgetYearID, Model.BudgetYearList, new { @class = "form-control select2nosearch", id = "budgetyrID" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col p-0 mb-0 form-group">
            <button type="button" class="btn btn-danger btn-min-width mr-1 pull-right" onclick="AngularGlobalFunctions('ApproSourceController','GetAppropriationSourceDT','')">
                Cancel
            </button>
            <button type="submit" class="btn btn-btnbackcolor btn-min-width mr-1 pull-right">
                Add
            </button>
        </div>
    </div>
}

<script>
    $(function () {
        LoadGetDynamicFund();
        LoadICheck();
        select2nosearch();
    })
    function LoadGetDynamicFund() {
        AngularGlobalFunctions('ApproSourceController', 'GetDynamicFund', '')
    }
</script>
